.chats {
  max-width: 700px;
  overflow-y: auto;

  padding: 8rem;
}
/* DARK SCROLLBAR FOR CHAT AREA */
.chats::-webkit-scrollbar {
  width: 10px;
}

.chats::-webkit-scrollbar-track {
  background:  #212121; /* SAME DARK COLOR */
}


.chats::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

.userDiv {
  display: flex;
  justify-content: flex-end;
  font-size: 0.9rem;
}

.gptDiv {
  text-align: left;
  font-size: 0.9rem;
}

.userMessage {
  background-color: #323232;
  padding: 10px 20px;
  border-radius: 14px;
  margin-left: 15rem;
  max-width: 500px;
  width: fit-content;
}
.hljs {
  border-radius: 14px !important;
}
pre {
  white-space: pre-wrap;
}
