.sidebar {
  background-color: #171717;
  color: #b4b4b4;
  height: 100vh;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0;
}

button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  border: solid 0.5px rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.logo {
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  object-fit: cover;
}

button span {
  font-size: 20px;
}

button:hover {
  background-color: rgba(180, 180, 180, 0.05);
  cursor: pointer;
}

.history {
  margin: 10px;
  padding: 10px;
  height: 100%;
  overflow-y: auto;
  /* box-sizing: border-box; */
  min-height: 0;
  flex: 1;
  
}

.history li {
  list-style-type: none;
  cursor: pointer;
  padding: 2px 5px;
  margin-bottom: 0.3rem;
  font-size: 14px;
  border: solid 10px transparent;
  position: relative;
}
.history li:hover {
  background-color: rgba(180, 180, 180, 0.05);
  border-radius: 10px;
}

/* DARK SCROLLBAR FOR HISTORY SECTION */
.history::-webkit-scrollbar {
  width: 10px;
}

.history::-webkit-scrollbar-track {
  background: #171717;   /* Dark background behind scrollbar */
}

.history::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}


.sign {
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  border-top: solid rgba(255, 255, 255, 0.1);
}

.fa-trash {
  position: absolute;
  opacity: 0;
  right: 0;
}

.history li:hover .fa-trash {
  opacity: 1;
  cursor: pointer;
  color: #fff;
}

.fa-trash:hover {
  color: #f87171 !important; 
}

.highlighted {
  background-color: rgba(180, 180, 180, 0.05);
  border-radius: 10px;
}
.highlighted .fa-trash {
  opacity: 1;
  color: #fff;
}
